{% extends 'base.html' %}

{% block title %}5{% endblock %}
{% block content %}

        <div class="row">       
            <div class="col s4 section"><h4>Graphics {{thisyear}}</h4></div>   
        </div>
        <div class="row">
               
            {% for cat,seriesline,consumed in tables %}
              <div id="{{forloop.counter}}" class="col s12">
                    <br><h5>{{cat}}</h5>
                    <div class="row">
                        <div id="line{{forloop.counter}}" class="col s12"></div>
                    </div>
                    <div class="row">
                    </div>
                   <script>
                            Highcharts.chart('line{{forloop.counter}}', {
                                chart: {
                                  type: 'areaspline'
                                },
                                title: {
                                  text: ''
                                },
                                legend: {
                                  layout: 'vertical',
                                  align: 'left',
                                  verticalAlign: 'top',
                                  x: 150,
                                  y: 100,
                                  floating: true,
                                  borderWidth: 1,
                                  backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                                },
                                xAxis: {
                                  categories: [{%for day in months%}'{{day}}',{%endfor%}],
                                },
                                yAxis: {
                                  title: {
                                    text: ''
                                  }
                                },
                                tooltip: {
                                  shared: true,
                                  valueSuffix: ' €'
                                },
                                credits: {
                                  enabled: false
                                },
                                plotOptions: {
                                  areaspline: {
                                    fillOpacity: 0.3
                                  }
                                },
                                colors: ['#1565c0','#0e396b'],
                                series: [
                                   {
                                  name: "{{cat}} proyected",
                                  data: [{%for i in seriesline%}{{i}},{%endfor%}]
                                },
                                {
                                  name: "{{cat}} consumed",
                                  data: [{%for i in consumed%}{{i}},{%endfor%}]
                                }
                                
                                ]
                              });
                    </script>
              </div>
            {%endfor%}
           
        </div>
    </div>
   
{% endblock %}