<html>
<head>
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       
</head>
   
<body>
    <div class="container">
        <nav class="red darken-3">
            <div class="nav-wrapper">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/incomes">Incomes</a></li>
                <li class="active"><a href="/outcomes">Outcomes</a></li>
                <li><a href="/transfers">Transfers</a></li>
                <li><a href="/budgets">Budgets</a></li>
              </ul>
            </div>
          </nav>
          <ul class="sidenav" id="mobile-demo">
              <li><a href="/">Home</a></li>
                  <li><a href="/incomes">Incomes</a></li>
                  <li class="active"><a href="/outcomes">Outcomes</a></li>
                  <li><a href="/transfers">Transfers</a></li>
                  <li><a href="/budgets">Budgets</a></li>
            </ul>

        <div class="row">       
            <div class="col s4 section"><h4>Add Outcome {{thismonth}}</h4></div>  
        </div>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input id="date" type="date" class="datepiker">
                <label for="date">Date</label>
              </div>
              <div class="input-field col s6">
                <input id="amount" type="number" min="0" step="0.01" class="validate">
                <label for="amount">Amount</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="description" type="text" class="validate">
                <label for="description">Description</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                  <input list="categories" id="category" class="validate">
                  <datalist id="categories">
                      {%for c in categories%}
                      <option value="{{c.id}}">{{c.name}}</option>
                      {%endfor%}
                  </datalist>
                  <label for="category">Category</label>
                </div>
              <div class="input-field col s6">
                <input list="accounts" id="account" class="validate">
                <datalist id="accounts">
                    {%for c in accounts%}
                    <option value="{{c.id}}">{{c.bank}}</option>
                    {%endfor%}
                </datalist>
                <label for="account">Account</label>
              </div>
              <button class="btn red waves-effect waves-light" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
            </div>
          </form>     
           
        </div>
    </div>
          
    
<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
  });
  $(document).ready(function(){
    $('.tabs').tabs();
  });
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>

</body>
</html>