{% extends 'base.html' %}

{% block title %}2{% endblock %}
{% block content %}

         <div class="row">       
            <div class="col s4 section"><h4>Income</h4></div>
            <div class="col s1 offset-s7"><h4><a class="waves-effect waves-light teal btn modal-trigger" href="#modal1">ADD</a></h4>
            </div>    
        </div>  
        <div class ="row">  
            <div class="col s12">      
              <div id="menu" class="tab-pane active">
                    <div class="row" style="padding-bottom:3%">
                            <div class="col s1 teal darken-4 " style="color: rgba(255, 255, 255, 0.9);">Inicio</div>
                            <div class="col s3">{{tables.0}}</div>
                        <div class="col s1 teal darken-4 " style="color: rgba(255, 255, 255, 0.9);">Fin</div>

                        <div class="col s3">{{tables.1}}</div>
                        <div class="col s1 teal darken-4 " style="color: rgba(255, 255, 255, 0.9);">Hoy</div>
                        <div class="col s3">{{today|date:"d \d\e F \d\e Y"}}</div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-sm-12">
                                <table class="accountstable">
                                    <tr>
                                        <th> Nombre </th>
                                        <th> Fecha </th>
                                        <th> Cuenta </th>
                                        <th> Monto </th>
                                        <th> Pagado </th>
                                    </tr>
                                    {%for values in tables.2%}
                                        <tr>
                                            <td> {{values.description}}</td>
                                            <td> {{values.date|date:"d-m-Y"}}</td>
                                            <td style="text-align:center"> {{values.category.name}}</td>
                                            <td> {{values.amount}} €</td>
                                            <td style="text-align:center"> {{values.account.id}} </td>
                                        </tr>
                                    {%endfor%}
                                </table>
                                <div class="info col-sm-6 col-sm-offset-3">Ingreso Anual: {{tables.3}} €</div>
                            </div>
                    </div>
                    <div class="col-lg-12">
                    </div>
              </div>
            </div>
        </div>
        </div>
          
{% endblock %}