{% extends 'base.html' %}

{% block title %}1{% endblock %}

{% block content %}
<div class="row">       
  <div class="col s4 section"><h4>Resume {{thismonth}}</h4></div>
  <div class="col s1 offset-s7"><h4><a class="waves-effect waves-light blue btn modal-trigger" href="#modal1">ADD</a></h4>
  </div>    
</div>
<div class="row">
  <ul class="tabs blue darken-3" >
    {% for month in months %}
      {%if forloop.counter == thismonth %}
        <li class="tab col s1"><a id="tab{{forloop.counter}}" target="_self" class="active" href="{% url 'resume' pky=today.year pkm=forloop.counter%}" style="color: rgba(255, 255, 255, 0.9);">{{month}}</a></li>
      {% else %}
        <li class="tab col s1"><a id="tab{{forloop.counter}}" target="_self" href="{% url 'resume' pky=today.year pkm=forloop.counter%}" style="color: rgba(255, 255, 255, 0.9);">{{month}}</a></li>
      {% endif %}
    {%endfor%}
  </ul>

{% for start,end,table,total,income,outcome in tables %}

<div class="col s12">
    <br><div class="row" style="padding-bottom:3%">
        <div class="col s1 blue darken-4 " style="color: rgba(255, 255, 255, 0.9);">Inicio</div>
        <div class="col s3">{{start}}</div>
        <div class="col s1 blue darken-4 " style="color: rgba(255, 255, 255, 0.9);">Fin</div>
        <div class="col s3">{{end}}</div>
        <div class="col s1 blue darken-4" style="color: rgba(255, 255, 255, 0.9);">Hoy</div>
        <div class="col s3">{{today|date:"d \d\e F \d\e Y"}}</div>
    </div>
      <div class="row">
          <div class="col s6">
              <table class="highlight">
                  <tr>
                      <th style="background:white"></th>
                      {%for account in accounts%}
                          <th> {{account.id}} </th>
                      {%endfor%}
                  </tr>
                  {%for values in table%}
                      <tr>
                          {%for v in values%}
                              <td> {{v}} €</td>
                          {%endfor%}
                      </tr>
                  {%endfor%}
              </table>
              <div class="info col-sm-6 col-sm-offset-3">Balance: {{total}} €</div>
          </div>
      <div id="graph{{forloop.counter}}" class="col s6">
      </div>
      </div>
      <div class="col-lg-12">
      </div>
      <script>
              var pieColors = (function () {
                  var colors = [],
                    base = '#039be5',
                    i;
                  for (i = 0; i < 10; i += 1) {
                    colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
                  }
                  return colors;
                }());
                
                // Build the chart
                Highcharts.chart('graph{{forloop.counter}}', {
                  chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 0,
                    plotShadow: false
                  },
                  title: {
                    text: 'Balance',
                    align: 'center',
                    verticalAlign: 'middle',
                    y: 40
                  },
                  tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                  },
                  plotOptions: {
                    pie: {
                      colors: pieColors,
                      dataLabels: {
                        enabled: true,
                        distance: -50,
                        style: {
                          fontWeight: 'bold',
                          color: 'white'
                        }
                      },
                      startAngle: -90,
                      endAngle: 90,
                      center: ['50%', '75%'],
                      size: '110%'
                    }
                  },
                  series: [{
                    type: 'pie',
                    name: 'Percentage',
                    innerSize: '50%',
                    data: [
                      ['Income', {{income}}],
                      ['Outcome',{{outcome}}],
                    ]
                  }]
                });
      </script>
</div>
{%endfor%}
</div>
</div>
          

{% endblock %}